body {
    background-image: url(../image/regulyator-gromkosti-min-max.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    min-height: 97vh;
}

#minimum, #maximum, #values {
    height: 35px;
}